<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">

    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/images/icons/reader.png" type="image/png">
        <link rel="stylesheet" href="/css/login.css" type="text/css">

        <title>Login</title>
    </head>
    <body>
        <div class="page-wrapper bg-gra">
            <form th:userDo="${user}" th:action="@{/login}" method="post">
                <div class="group">
                    <h1>Sign in</h1>
                </div>
                <div class="group">
                    <label>Email</label>
                    <input type="email" th:field="*{user.username}"><span class="highlight"></span><span class="bar"></span>
                </div>
                <div class="group">
                    <label>Password</label>
                    <input type="text" th:field="*{user.password}"><span class="highlight"></span><span class="bar"></span>
                </div>
                <button type="submit" class="button buttonBlue">Log in
                    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                </button>
                <a href="../../FRONT/Bootstraptest/Registration/index.html">
                    <button class="btn btn-success btn-lg" type="button">
                        Регистрация
                    </button>
                </a>
                <a href="../../FRONT/Bootstraptest/main.html">
                    <button class="btn btn-success btn-lg" type="button">
                        Личный кабинет
<!--                        Для отладки-->
                    </button>
                </a>
                <p>
                    <a class="form-footnote left" href="/registration" target="_blank">Registration</a>
                    <a class="form-footnote right" href="/login" target="_blank">Forgot password?</a>
                </p>
            </form>

            <footer>
                <a href="https://github.com" target="_blank"><img src="/images/icons/gh-logo.png"></a>
                <a href="https://www.facebook.com" target="_blank"><img src="/images/icons/facebook.png"></a>
                <a href="https://twitter.com" target="_blank"><img src="/images/icons/twitter.png"></a>
                <a href="https://vk.com/" target="_blank"><img src="/images/icons/vk.png"></a>
            </footer>
        </div>
    </body>

    <script src="extra/jquery/jquery.min.js"></script>
    <script src="js/ripples.js"></script>
</html>